

.details {
    padding: 15px 0;
  }
  
  .storyline {
      text-align: justify; 
  }
  
  .movie-card {
      padding: 1rem;
      min-height: 20rem;
      border-radius: 5px;
      margin-top: 5rem;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    
  }
  
  .poster-float {
    position: relative;
    top: -2em;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .poster-float img {
     border-radius: 5px;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1) !important;
  }
  
  .top-badge {
      position: absolute;
      top: -0.3rem;
      right: -0.3rem;
      font-size: .7em;
  }
  
  .movie-images{
     position: relative;
  }
  
  .images img {
      border-radius: 5px;
      box-shadow: 0 10px 20px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.1) !important;
  }
  
  .images {
      padding-left: 20px;
      white-space: nowrap;
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      padding-bottom: 10px;
  }
  
  .movie-new {
      display: inline-block;
      padding: 5px;
      position: relative;
      top: 20px;
      margin-bottom: 20px;
  }
  
  .movie-title {
      padding-top: 0.5em;
      font-size: 1.2em;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px;
  }
  
  
  .movie-lead {
      margin-top: -0.2em;
      font-size: .9em;
      color: #8a99a2;
  }
  
  
  /* Medium and up */
  @media screen and (min-width: 40em) {
      .storyline {
      padding: 15px;
    }
  }
  
  